---
---

<center> <h1>üìç üìç Assignment: Reading Files üìç üìç</h1> </center>

---

#### `1. READ THE BIG MART SALES DATA`

---

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('big_mart_sales.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

---

***So, we are getting an error. You task is to find out the error and read the file using pandas. Here is the screenshot of the CSV file.***

![](images/csv.png)

---

In [7]:
### WRITE YOUR CODE HERE
data = pd.read_csv('big_mart_sales.csv', skiprows=4)
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

----

####  `2. READ THE JSON DATA`

----

In [8]:
# read the json file
json_data = pd.read_json('simple.json')

ValueError: Trailing data

---

***Open the JSON file in the text editor and see what can you do to read the file.***

---

In [9]:
#### WRITE YOUR CODE HERE
data_jason=pd.read_json('simple.json',lines=True)
data_jason.head()

   age grade     name
0   12     A    Andew
1   18     B   Bhuvan
2   11     A  Clinton
3   12     C    Drake
4   13     B    Eisha